/*******************************************************************************
  General Styles
  Overall style rules for site/app
*******************************************************************************/

* {
  box-sizing: border-box;
}

body {
  color: $bodyTextColor;
  font-family: $bodyFontFace;
  font-size: $bodyTextSize;
  @include isset('line-height', $bodyLineHeight);
  @include isset('letter-spacing', $bodyLetterSpacing);
}

h1, h2, h3,
h4, h5, h6 {
  color: $headerTextColor;
  font-family: $headerFontFace;
  @include isset('line-height', $headerLineHeight);
  @include isset('letter-spacing', $headerLetterSpacing);
}

@each $header, $headerSize in $headerSizes {
  #{$header} {
    font-size: #{$headerSize};
  }
}

// Containers
.container {
  margin: 0 auto;
  @include setWidth('medium');
}