/*******************************************************************************
  Variables File
  Global variables to be used throughout app.
*******************************************************************************/

// __Text Styling__
// Font family for header text
$headerFontFace: 'Helvetica', 'Arial', sans-serif;

// Color for header text
$headerTextColor: #222;

// Header line height
// Set to 'false' to set to default
$headerLineHeight: 1.1em;

// Header letter spacing
// Set to 'false' to set to default
$headerLetterSpacing: 'false';

// Header font sizes
$headerSizes: (
  'h1': 2.250em,
  'h2': 2em,
  'h3': 1.175em,
  'h4': 1.5em,
  'h5': 1.375em,
  'h6': 1.125em
);

// Font faimly for body text
$bodyFontFace: 'Times', 'Times New Roman', serif;

// Color for body text
$bodyTextColor: #333;

// Body text size
$bodyTextSize: 16px;

// Body letter spacing
// Set to 'false' to set to default
$bodyLetterSpacing: 'false';

// Line height for body text
// Set to 'false' to set to default
$bodyLineHeight: 1.2em;


// __Content Width and Breakpoints__
// Phone sizes
$bpPhoneSm: 320px;
$bpPhoneMd: 360px;
$bpPhoneLg: 480px;

// Tablet sizes
$bpTabletSm: 600px;
$bpTabletMd: 768px;
$bpTabletLg: 1024px;

// Desktop sizes
$bpDesktopSm: 1280px;
$bpDesktopMd: 1440px;
$bpDesktopLg: 1680px;

// Breakpoint inwhich the layout goes fully mobile (stacked)
$mainBreak: $bpTabletMd;

// Content Widths - used for various content wrappers
// Format -> ( max-width, width )
$contentWidths: (
  ( 800px,  55% ),  // Small container
  ( 1000px, 75% ),  // Medium container
  ( 1200px, 95% )   // Large container
);