/*******************************************************************************
  Form File
  Styling for you guested it... forms
  but also buttons, non form input fields, etc.
*******************************************************************************/

form.go-form {

  label {
    font-family: $headerFontFace;
  }

  .form-group {
    padding: 15px;
  }

  .form-control {
    border: 1px solid $bodyTextColor;
    font-size: 0.9em;
    outline: none;
    padding: 5px 7px;
    width: 100%;
  }

  select.form-control {
    -webkit-appearance: none;
    border-radius: 0px;
    height: 2.1em;
  }

}
