/*******************************************************************************
  Grid Layout File
  Basic grid layout inspired by Bootstrap and Foundation
*******************************************************************************/

.row::after {
  clear: both;
  content: '';
  display: block;
}

.col {
  float: left;
  padding: 15px;
  width: 100%;
}

$sizes: (
  'xs': $bpPhoneMd,
  'sm': $bpPhoneLg,
  'md': $bpTabletMd,
  'lg': $bpDesktopSm,
  'xl': $bpDesktopMd
);

@each $abbr, $width in $sizes {
  @media screen and (min-width: $width) {
    @for $i from 1 through 12 {
      .#{$abbr}-#{$i} {
        width: calc(100% * (#{$i}/12));
      }
    }
  }
}