/*******************************************************************************
  Helpers File
  Useful classes that can come in handy for quick styling
*******************************************************************************/

// Horizontal alignment
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.block-left {
  margin-left: auto;
}

.block-right {
  margin-right: auto;
}

.block-center {
  margin: 0 auto;
}

// Vertical alignment
.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

.align-baseline {
  vertical-align: baseline;
}

// Display and Visibility
.invisible {
  left: -100%;
  position: absolute;
  visibility: hidden;
  z-index: -1;
}

.hidden {
  visibility: hidden;
}

.display-none {
  display: none;
}

// Responsive table formatting
@media screen and (min-width: $mainBreak) {

  .table {
    display: table;
  }

  .table-row {
    display: table-row;
  }

  .table-cell {
    display: table-cell;
  }

}