/*******************************************************************************
  Mixins File
  Special mixins to make things easier
*******************************************************************************/

// Checks if a variable is set and provides the property and
// value if it is, in fact, set
@mixin isset($prop, $var) {
  @if ($var != 'false') {
    #{$prop}: $var;
  }
}

// Sets predefined withs based on $contentWidths list
@mixin setWidth($size) {

  // default $index, note that this points to nothing
  $index: 0;

  // checks for three sizes and sets the index accordingly
  @if ($size == 'small') {
    $index: 1;
  }
  @else if ($size == 'medium') {
    $index: 2;
  }
  @else if ($size == 'large') {
    $index: 3;
  }

  // Get the particular nested list from the $contentWidths list
  // 0 will produce an error
  $params: nth($contentWidths, $index);

  // Set the width and max-width based on the selected nested list
  max-width: nth($params, 1);
  width: nth($params, 2);

}